@model CotizacionCreateViewModel

@{
    ViewData["Title"] = "Crear nuevo";
    Layout = "~/Views/Shared/_LayoutCotizacion.cshtml";
}

<style>
    .visible {
        display: table-row;
    }

    .oculta {
        display: none;
    }

    .form-control {
        font-size: smaller;
        height: calc(1.5em + .75rem + 2px);
    }


    .dropdown-menu {
        padding: 0px 1px !important;
        margin: 0px !important;
        font-size: small;
    }

    .filter-option-inner {
        padding: 0px 1px !important;
        margin: 0px !important;
        font-size: smaller;
    }

    .bs-placeholder, .dropdown-toggle {
        color: #495057 !important;
        border: 1px solid #ced4da;
        height: calc(1.5em + .5rem + 2px);
        background-color: #fff;
    }

    #tablaMateriales tr, #tablaMateriales td, #tablaMateriales th {
        padding: 0;
    }

    #tablaMateriales input[type='number'] {
        text-align: right;
    }

    #tablaMateriales input, #tablaMateriales select {
        padding: 0px 1px !important;
        margin: 0px !important;
        height: calc(1em + .5rem + 2px);
        font-size: small;
    }

    #tablaMateriales .bs-placeholder, #tablaMateriales .dropdown-toggle {
        padding: 0px 1px !important;
        margin: 0px !important;
        color: #495057 !important;
        border: 1px solid #ced4da;
        height: calc(1em + .35rem);
        background-color: #fff;
        max-width: 300px;
    }

    #tablaMateriales .bootstrap-select, #tablaMateriales .td-selectpicker {
        max-width: 300px !important;
    }
</style>

<h2>Crear nueva cotización</h2>

<hr />
<form id="formCotizacion" asp-action="Create" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-4 col-sm-12">
        <div class="row p-0">
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Quote.NumeroQuote" class="control-label"></label>
                <input asp-for="Quote.NumeroQuote" class="form-control" />
                <span asp-validation-for="Quote.NumeroQuote" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Quote.FechaEmision" class="control-label"></label>
                <input type="date" asp-for="Quote.FechaEmision" class="form-control" />
                <span asp-validation-for="Quote.FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.FabricanteId" class="control-label"></label>
                <select asp-for="Quote.FabricanteId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.FabricanteId">
                    <option value="">Seleccione fabricante</option>
                </select>
                <span asp-validation-for="Quote.FabricanteId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.ContactoFabricanteId" class="control-label"></label>
                <select asp-for="Quote.ContactoFabricanteId" class="form-control selectpicker" data-live-search="true">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Quote.ContactoFabricanteId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Quote.NombreOportunidad" class="control-label"></label>
                <input asp-for="Quote.NombreOportunidad" class="form-control" />
                <span asp-validation-for="Quote.NombreOportunidad" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="row p-0">
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.UsuarioId" class="control-label"></label>
                <select asp-for="Cotizacion.UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId">
                    <option value="">Seleccione usuario</option>
                </select>
                <span asp-validation-for="Cotizacion.UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.TipoCotizacionId" class="control-label"></label>
                <select asp-for="Cotizacion.TipoCotizacionId" class="form-control" asp-items="ViewBag.TipoCotizacionId">
                    <option value="">Seleccione tipo de cotización</option>
                </select>
                <span asp-validation-for="Cotizacion.TipoCotizacionId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-sm-12">
                <label asp-for="Cotizacion.TipoCompraId" class="control-label"></label>
                <select asp-for="Cotizacion.TipoCompraId" class="form-control" asp-items="ViewBag.TipoCompraId">
                    <option value="">Seleccione tipo de compra</option>
                </select>
                <span asp-validation-for="Cotizacion.TipoCompraId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.CanalId" class="control-label"></label>
                <select asp-for="Cotizacion.CanalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.CanalId">
                    <option value="">Seleccione canal</option>
                </select>
                <span asp-validation-for="Cotizacion.CanalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ContactoCanalId" class="control-label"></label>
                <select asp-for="Cotizacion.ContactoCanalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ContactoCanalId">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Cotizacion.ContactoCanalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ClienteFinalId" class="control-label"></label>
                <select asp-for="Cotizacion.ClienteFinalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ClienteFinalId">
                    <option value="">Seleccione cliente final</option>
                </select>
                <span asp-validation-for="Cotizacion.ClienteFinalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label asp-for="Cotizacion.ContactoClienteFinalId" class="control-label"></label>
                <select asp-for="Cotizacion.ContactoClienteFinalId" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.ContactoClienteFinalId">
                    <option value="">Seleccione contacto</option>
                </select>
                <span asp-validation-for="Cotizacion.ContactoClienteFinalId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 col-sm-12">
                <label asp-for="Cotizacion.Margen" class="control-label"></label>
                <input type="number" min="0" step="0.01" asp-for="Cotizacion.Margen" class="form-control" />
                <span asp-validation-for="Cotizacion.Margen" class="text-danger"></span>
            </div>
            <div class="form-group col-md-10 col-sm-12">
                <label asp-for="Cotizacion.Observaciones" class="control-label"></label>
                <textarea asp-for="Cotizacion.Observaciones" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <table id="tablaMateriales" class="table table-condensed table-striped table-bordered small">
            <tr>
                <th></th>
                <th>MATERIAL</th>
                <th class="text-center">SW/HW</th>
                <th class="text-center" style="min-width:200px;">S/N</th>
                <th class="text-right">CANT</th>
                <th class="text-right">PRECIO[$]</th>
                <th class="text-right">DESC[%]</th>
                <th class="text-right">IMP/DUTY[%]</th>
                <th class="text-right">CLIENTE[$]</th>
                <th class="text-center">INICIO</th>
                <th class="text-center">TÉRMINO</th>
                <th class="text-right">TOTAL NETO</th>
            </tr>
            @{
                for (int i = 1; i <= 5; i++)
                {
                    <tr id="tr_@i" class="visible">
                        <td class="text-right">@i</td>
                        <td class="td-selectpicker">
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].MaterialId" class="form-control small selectpicker mMaterial" data-live-search="true" asp-items="ViewBag.Materiales">
                                <option value="">Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].TipoMaterial" class="form-control small mTipo">
                                <option value="SW" selected="selected">SW</option>
                                <option value="HW">HW</option>
                                <option value="SW-BT">SW-BT</option>
                                <option value="HW-BT">HW-BT</option>
                            </select>
                        </td>
                        <td><input asp-for="Cotizacion.MaterialesCotizacion[i-1].NumeroSerie" class="form-control small mNumeroSerie" style="text-transform:uppercase" /></td>
                        <td><input type="number" min="0" step="1" asp-for="Cotizacion.MaterialesCotizacion[i-1].Cantidad" onkeypress="return soloNumeros(event);" class="form-control small mCantidad" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioUnitario" onkeypress="return soloNumpunto(event);" class="form-control small mPrecioUnitario decimal" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].DescuentoPorcentaje" class="form-control small mDescuento" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].ImpuestoDuty" onkeypress="return soloNumpunto(event);" class="form-control small mImpuesto" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioCliente" readonly class="form-control small mPrecioCliente decimal" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaInicio" class="form-control small" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaTermino" class="form-control small" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalNeto" readonly class="form-control small mTotalNeto text-primary decimal" /></td>
                    </tr>
                }
                for (int i = 6; i < 90; i++)
                {
                    <tr id="tr_@i" class="oculta">
                        <td class="text-right">@i</td>
                        <td class="td-selectpicker">
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].MaterialId" class="form-control small selectpicker mMaterial" data-live-search="true" asp-items="ViewBag.Materiales">
                                <option value="">Seleccione</option>
                            </select>
                        </td>
                        <td>
                            <select asp-for="Cotizacion.MaterialesCotizacion[i-1].TipoMaterial" class="form-control small mTipo">
                                <option value="SW">SW</option>
                                <option value="HW">HW</option>
                                <option value="SW-BT">SW-BT</option>
                                <option value="HW-BT">HW-BT</option>
                            </select>
                        </td>
                        <td><input asp-for="Cotizacion.MaterialesCotizacion[i-1].NumeroSerie" class="form-control small mNumeroSerie" style="text-transform:uppercase" /></td>
                        <td><input type="number" min="0" step="1" asp-for="Cotizacion.MaterialesCotizacion[i-1].Cantidad" onkeypress="return soloNumeros(event);" class="form-control small mCantidad" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioUnitario" onkeypress="return soloNumpunto(event);" class="form-control small mPrecioUnitario decimal" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].DescuentoPorcentaje" class="form-control small mDescuento" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].ImpuestoDuty" onkeypress="return soloNumpunto(event);" class="form-control small mImpuesto" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].PrecioCliente" readonly class="form-control small mPrecioCliente decimal" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaInicio" class="form-control small" /></td>
                        <td><input type="date" asp-for="Cotizacion.MaterialesCotizacion[i-1].FechaTermino" class="form-control small" /></td>
                        <td><input type="number" min="0" step="0.01" asp-for="Cotizacion.MaterialesCotizacion[i-1].TotalNeto" readonly class="form-control small mTotalNeto text-primary decimal" /></td>
                    </tr>
                }
            }
            <tr>
                <td colspan="13" class="text-right">
                    <button type="button" class="btn btn-success" onclick="addRow();"><i class="fas fa-plus-circle"></i></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group col-md-2 offset-md-10 col-sm-12 text-right">
        <label asp-for="Cotizacion.TotalNeto" class="control-label"></label>
        <input asp-for="Cotizacion.TotalNeto" readonly class="form-control text-primary text-right p-1 ndecimal" />
    </div>
    <div class="form-group col-md-2 offset-md-10 col-sm-12 text-right">
        <label asp-for="Cotizacion.TotalIVA" class="control-label"></label>
        <input asp-for="Cotizacion.TotalIVA" readonly class="form-control text-success text-right p-1 ndecimal" />
    </div>

    <div class="form-group col-md-12 col-sm-12 text-right">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/validaciones.js"></script>
<script>

    $(document).ready(function () {
        $("#formCotizacion").submit(function () {
            var totalNeto = parseFloat($("#Cotizacion_TotalNeto").val().replace(".",","));
            console.log(totalNeto);
            if (totalNeto > 0) {
                console.log("mayor");
                return true;
            }
            else {
                console.log("menor");
                return false;
            }
        });
    });

    function CalculaTotales() {
        var total = 0;
        for (i = 1; i < 100; i++) {
            var tr = $("#tr_" + i);
            if (tr.find(".mTotalNeto").val() != "") {
                total = total + tr.find(".mTotalNeto").val();
            }
        }
        total = parseFloat(total).toFixed(2);
        $("#Cotizacion_TotalNeto").val(total);
        $("#Cotizacion_TotalIVA").val((total * 1.19).toFixed(2));

        console.log("total = " + $("#Cotizacion_TotalNeto").val());
    }

    function CalculaPrecio(rowId) {
        var tr = $("#tr_" + rowId);
        var tipo = tr.find(".mTipo").val();
        var cantidad = parseFloat(tr.find(".mCantidad").val());
        var precioUnitario = parseFloat(tr.find(".mPrecioUnitario").val());
        var descuento = parseFloat(tr.find(".mDescuento").val());
        var impuesto = parseFloat(tr.find(".mImpuesto").val());

        var margen = parseFloat($("#Cotizacion_Margen").val());

        if (tipo != "") {
            var precioCliente = 0;
            var totalNeto = 0;

            var precioFoB = precioUnitario * (1 - descuento / 100);

            var precioInternacion = 0;
            
            if (tipo == "SW" || tipo == "SW-BT") {
                precioInternacion = precioFoB / (1 + impuesto / 100);
            }
            else if (tipo == "HW" || tipo == "HW-BT") {
                precioInternacion = precioFoB * (1 - impuesto / 100);
            }

            if((tipo == "SW" || tipo == "HW"))
            {
                precioCliente = (precioInternacion * (1 + margen / 100)).toFixed(2);

                totalNeto = (precioInternacion * (1 + margen / 100) * cantidad).toFixed(2);
            }
            else if ((tipo == "SW-BT" || tipo == "HW-BT"))
            {
                precioCliente = (precioInternacion / (margen / 100)).toFixed(2);

                totalNeto = (precioInternacion / (margen / 100) * cantidad).toFixed(2);
            }

            

            if (precioCliente > 0 && totalNeto > 0) {
                tr.find(".mPrecioCliente").val(precioCliente);
                tr.find(".mTotalNeto").val(totalNeto);
            }
        }
    }

    $(".mTipo").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mMaterial").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mCantidad").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mPrecioUnitario").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mDescuento").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $(".mImpuesto").on("change", function () {
        var id = $(this).attr("id").split("_")[2];
        CalculaPrecio(parseInt(id) + 1);
        CalculaTotales();
    }
    );

    $("#Cotizacion_Margen").on("change", function () {
        for (i = 1; i < 100; i++) {
            CalculaPrecio(i);
        }
        CalculaTotales();
    }
    );


    function addRow() {
        var last = $("#tablaMateriales").find("tr.visible").last().next().addClass("visible").removeClass("oculta");
        console.log(last);
    }

    $(function () {
        $("#Quote_FabricanteId").on("change", function () {
            var fabricanteId = $(this).val();
            $("#Quote_ContactoFabricanteId").empty();
            $("#Quote_ContactoFabricanteId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosFabricante",
                type: "GET",
                data: "fabricanteId=" + fabricanteId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Quote_ContactoFabricanteId").append(`<option value="${item.contactoFabricanteId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Quote_ContactoFabricanteId').addClass('selectpicker');
                    $('#Quote_ContactoFabricanteId').attr('data-live-search', 'true');
                    $('#Quote_ContactoFabricanteId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(function () {
        $("#Cotizacion_CanalId").on("change", function () {
            var canalId = $(this).val();
            $("#Cotizacion_ContactoCanalId").empty();
            $("#Cotizacion_ContactoCanalId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosCanal",
                type: "GET",
                data: "canalId=" + canalId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Cotizacion_ContactoCanalId").append(`<option value="${item.contactoCanalId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Cotizacion_ContactoCanalId').addClass('selectpicker');
                    $('#Cotizacion_ContactoCanalId').attr('data-live-search', 'true');
                    $('#Cotizacion_ContactoCanalId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(function () {
        $("#Cotizacion_ClienteFinalId").on("change", function () {
            var clienteId = $(this).val();
            $("#Cotizacion_ContactoClienteFinalId").empty();
            $("#Cotizacion_ContactoClienteFinalId").append("<option value=''>Seleccione contacto</option>");

            $.ajax({
                url: "/Cotizaciones/GetContactosClienteFinal",
                type: "GET",
                data: "clienteId=" + clienteId,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $("#Cotizacion_ContactoClienteFinalId").append(`<option value="${item.contactoClienteFinalId}">${item.nombre} ${item.apellido}</option>`);
                    });
                    $('#Cotizacion_ContactoClienteFinalId').addClass('selectpicker');
                    $('#Cotizacion_ContactoClienteFinalId').attr('data-live-search', 'true');
                    $('#Cotizacion_ContactoClienteFinalId').selectpicker('refresh');
                },
                error: function (error) {
                }
            });
        });
    });

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>