@model SistemaCotizaciones.Model.ContactoCanal

@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar</h2>

<h4>ContactoCanal</h4>
<hr />
<form asp-action="Edit" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContactoCanalId" />
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="CanalId" class="control-label"></label>
        <select asp-for="CanalId" class="form-control" asp-items="ViewBag.CanalId">
            <option value="">Seleccione canal</option>
        </select>
    </div>
    <div class="offset-md-9"></div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Rut" class="control-label"></label>
        <input asp-for="Rut" class="form-control" onkeypress="return soloRUT(event);" />
        <span asp-validation-for="Rut" class="text-danger"></span>
        <span id="RutCustomError" class="text-danger field-validation-valid" style="display:none;"><span class="">El RUT ingresado no es válido</span></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" onkeypress="return soloValidos(event);" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" onkeypress="return soloValidos(event);" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Email" class="control-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" onkeypress="return soloTelefono(event);" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/validaciones.js"></script>
<script src="~/js/rut.js"></script>