@model SistemaCotizaciones.Model.Material

@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar</h2>

<h4>Material</h4>
<hr />
<form asp-action="Edit" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MaterialId" />
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group col-md-9 col-sm-12">
        <label asp-for="Descripcion" class="control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="TipoMaterial" class="control-label"></label>
        <select asp-for="TipoMaterial" class="form-control" required>
            <option value="">Seleccione tipo</option>
            <option value="SW">Software</option>
            <option value="HW">Hardware</option>
        </select>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="NumeroSerie" class="control-label"></label>
        <input asp-for="NumeroSerie" class="form-control" />
        <span asp-validation-for="NumeroSerie" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="CodigoImpulse" class="control-label"></label>
        <input asp-for="CodigoImpulse" class="form-control" />
        <span asp-validation-for="CodigoImpulse" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="PrecioUnitario" class="control-label"></label>
        <input asp-for="PrecioUnitario" class="form-control text-right" />
        <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12 col-sm-12 text-right">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
